# Column Manipulation of Pandas DataFrames

### 1. Import libraries and dependencies

In [43]:
# Import pandas, pathlib, and numpy libraries
import pandas as pd
from pathlib import Path
import numpy as np

### 2. Create a Path to the File Using Pathlib

In [44]:
# Use the Pathlib libary to set the path to the CSV
csvpath = Path("../Resources/people.csv")

### 3. Read the CSV into a Pandas DataFrame and Display a Few Rows

In [45]:
# Use the file path to read the CSV into a DataFrame and display a few rows
people_df = pd.read_csv(csvpath)
people_df.head()

,id,first_name,last_name,email,gender,uni_grad,job_title,Income
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0

### 4. View Columns Names

In [46]:
# Use the `columns` attribute to output the column names
people_df.columns

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'uni_grad',
       'job_title', 'Income'],
      dtype='object')

### 5. View Column Data Types

In [47]:
# Use the `dtypes` attribute to output the column names and data types
people_df.dtypes

id            float64
first_name     object
last_name      object
email          object
gender         object
uni_grad       object
job_title      object
Income        float64
dtype: object

### 6. Rename Columns Using List

In [48]:
# Set the `columns` attribute to a new list of column names
#columns = ["Person_ID", "First_Name", "Last_Name", "Email", "Gender", "University", "Occupation", "Salary"]
#people_df.columns = columns
#people_df.head()

### 7. Rename Columns Using Dictionary

In [49]:
# Use the `rename` function and set the `columns` parameter to a dictionary of new column names
print(people_df.columns)
people_df = people_df.rename(columns={
    "id": "2 Person_ID",
    "first_name": "First_Name",
    "last_name": "Last_Name", 
    "email": "Email",
    "gender": "Gender",
    "uni_grad": "University",
    "job_title": "Occupation",
    "Income": "Salary"
})

print(people_df.columns)

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'uni_grad',
       'job_title', 'Income'],
      dtype='object')
Index(['2 Person_ID', 'First_Name', 'Last_Name', 'Email', 'Gender',
       'University', 'Occupation', 'Salary'],
      dtype='object')

### 8. Re-order Columns

In [50]:
# Use a list of re-ordered column names to alter the column order of the original DataFrame
people_df = people_df[["Person_ID", "Last_Name", "First_Name", "Gender", "University", "Occupation", "Salary", "Email"]]
people_df.head()

KeyError: "['Person_ID'] not in index"

### 9. Create Additional Column

In [ ]:
# Use the `randint` function to randomly generate an `Age` from 22 to 65 for 1000 rows
people_df["Age"] = np.random.randint(low=22, high=65, size=1000)
people_df["Age_Copy"] = np.random.randint(low=22, high=65, size=1000)
people_df.head()

### 10. Delete Columns

In [ ]:
# Use the `drop` function to delete the newly created `Age` column
people_df = people_df.drop(columns=["Age_Copy"])
people_df.head()

### 11. Save Modified DataFrame to New CSV

In [ ]:
# Save the DataFrame to the `Resources` folder
people_df.to_csv("../Resources/people_reordered.csv")