# Cleaning Data in Pandas DataFrames

## 1. Import libraries and dependencies

In [197]:
# Import the pandas and pathlib libraries
import pandas as pd
from pathlib import Path

## 2. Create a Path to the File Using Pathlib

In [198]:
# Use the Pathlib libary to set the path to the CSV
people_cleansed_filepath = Path("../Resources/people_cleansed.csv")
people_reordered_filepath = Path("../Resources/people_reordered.csv")

## 3. Read the CSV into a Pandas DataFrame

In [199]:
# Use the file path to read the CSV into a DataFrame and display a few rows
people_cleansed_df = pd.read_csv(people_cleansed_filepath)
people_reordered_df = pd.read_csv(people_reordered_filepath)
people_cleansed_df.head()

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47

## 4. View Column Data Types

In [200]:
# Use the `dtypes` attribute to list the column data types
people_cleansed_df.dtypes

Person_ID       int64
Last_Name      object
First_Name     object
Gender         object
University     object
Occupation     object
Salary        float64
Email          object
Age             int64
dtype: object

## 5. Drop Extraneous Columns

In [201]:
# Use the `drop` function to drop specific columns
people_cleansed_df.drop(columns=["Gender", "University"], inplace=True)

---

## 6. Identify Data Quality Issues

### 1. Identify the Number of Rows

In [202]:
# Use the `count` function to view count of non-null values for each column
people_cleansed_df.dropna(inplace=True)
people_cleansed_df.count()

Person_ID     973
Last_Name     973
First_Name    973
Occupation    973
Salary        973
Email         973
Age           973
dtype: int64

### 2. Identify Frequency Counts of a Specific Column

In [203]:
# Identifying frequency counts of the `first_name` column
people_cleansed_df["First_Name"].value_counts()

Unnamed     6
Ailbert     3
Israel      3
Mable       2
Denny       2
           ..
Hilliard    1
Loreen      1
Rayner      1
Freddy      1
Vaughan     1
Name: First_Name, Length: 895, dtype: int64

### 3. Identify Null Values

In [204]:
# Checking for null
people_cleansed_df.isnull().sum()

Person_ID     0
Last_Name     0
First_Name    0
Occupation    0
Salary        0
Email         0
Age           0
dtype: int64

### 4. Determine the Number of Nulls

In [205]:
# Determining number of nulls
people_cleansed_df.isnull().sum()

Person_ID     0
Last_Name     0
First_Name    0
Occupation    0
Salary        0
Email         0
Age           0
dtype: int64

### 5. Determining the Percentage of Nulls for each Column

In [206]:
# Determining percentage of nulls
percentage_null = 100.0 * people_cleansed_df.isnull().sum() / len(people_cleansed_df)
percentage_null

Person_ID     0.0
Last_Name     0.0
First_Name    0.0
Occupation    0.0
Salary        0.0
Email         0.0
Age           0.0
dtype: float64

### 6. Check for Duplicate Rows

In [207]:
# Use the `duplicated` function to determine the existance of duplicate rows: True or False
duplicates = people_cleansed_df.duplicated()
duplicates.sum()

1

### 7. Check for Duplicate `first_name` Values

In [208]:
# Use the `duplicated` function in conjunction with a list of columns to 
# determine the existence of duplicate rows based on the selected columns
print(people_cleansed_df["First_Name"].duplicated().sum())
print(people_cleansed_df.duplicated(subset=["First_Name"]).sum())

print(people_cleansed_df.duplicated(subset=["First_Name", "Last_Name"]).sum())
print(people_cleansed_df[["First_Name", "Last_Name"]].duplicated().sum())

78
78
1
1

---

## 7. Resolve Data Quality Issues

### 1. Fill First_Name and Last_Name Null Values with Default Value "Unnamed"

In [209]:
# Cleanse nulls from DataFrame by filling na
people_cleansed_df.fillna(0)

,Person_ID,Last_Name,First_Name,Occupation,Salary,Email,Age
0,1,Lenormand,Keriann,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2,Rupke,Huntley,Project Manager,96053.0,hrupke1@reuters.com,22
2,3,Dalgarnowch,Gorden,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4,Unnamed,Cullie,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5,Strangman,Ariel,Project Manager,89073.0,astrangman4@bravesites.com,47
...,...,...,...,...,...,...,...
968,996,Crumpton,Meta,Registered Nurse,57060.0,mcrumptonrn@qq.com,52
969,997,Gilford,Gunar,Marketing Manager,76109.0,ggilfordro@yandex.ru,32
970,998,Gurling,Lucretia,Software Engineer III,92115.0,lgurlingrp@de.vu,48
971,999,Yang,Andrew,Curriculum Engineer,60000.0,ayang@codedrills.com,53
972,999,Yang,Andrew,Curriculum Engineer,60000.0,ayang@codedrills.com,53

### 2. Drop Remaining Records with Nulls from DataFrame

In [210]:
# Use the `dropna` function to drop whole records that have at least one null value
#people_cleansed_df.columns
print(len(people_cleansed_df))
people_cleansed_df.dropna(subset=['Person_ID', 'Last_Name', 'First_Name', 'Occupation', 'Salary', 'Email',
       'Age'])
print(len(people_cleansed_df))

973
973

### 3. Check Null Counts for Each Column (Again)

In [217]:
# Use the `isnull` function in conjunction with the `sum` function to count the number of null values for each column
people_cleansed_df.isnull().sum()

Person_ID     0
Last_Name     0
First_Name    0
Occupation    0
Salary        0
Email         0
Age           0
dtype: int64

### 4. Cleanse data by Dropping Duplicates

In [212]:
# Use the `drop_duplicates` function with the `subset` parameter to 
# drop duplicates based on a selection of columns

### 5. Convert Columns to Different DataTypes

In [213]:
# Use the `as_type` function to convert `Person_ID` from `float` to `int`

## 8. Save Cleansed Data to New CSV

In [214]:
# Save modified DataFrame to the Resources folder. 
# Use the `index` parameter set to `False` to exclude saving the index.