### Import Libraries and Dependencies

In [2]:
import pandas as pd
from pathlib import Path

### Read CSV as Pandas DataFrame

In [3]:
# Read csv data
csv_path = Path("../../Resources/goog_google_finance.csv")
goog_df = pd.read_csv(csv_path, parse_dates=True, index_col="Date", infer_datetime_format=True)
goog_df.head()

              Close
Date
2019-05-13  1132.03
2019-05-10  1164.27
2019-05-09  1162.38
2019-05-08  1166.27
2019-05-07  1174.10

### Assess & Clean Data

In [4]:
# Check for nulls
goog_df.isnull().mean() * 100

# Drop nulls
goog_df = goog_df.dropna()

# Drop duplicates
goog_df = goog_df.drop_duplicates()

# Validate no more missing values
goog_df.isnull().sum()

Close    0
dtype: int64

### Group by `year` and `month`

In [8]:
# Set multi-index by grouping
goog_df_grp = goog_df.groupby([goog_df.index.year, goog_df.index.month])
goog_df_grp.head()

              Close
Date
2019-05-13  1132.03
2019-05-10  1164.27
2019-05-09  1162.38
2019-05-08  1166.27
2019-05-07  1174.10
2019-04-30  1188.48
2019-04-29  1287.58
2019-04-26  1272.18
2019-04-25  1263.45
2019-04-24  1256.00
2019-03-29  1173.31
2019-03-28  1168.49
2019-03-27  1173.02
2019-03-26  1184.62
2019-03-25  1193.00
2019-02-28  1119.92
2019-02-27  1116.05
2019-02-26  1115.13
2019-02-25  1109.40
2019-02-22  1110.37

### Access `Close` for May 2019 Using Multi-indexing Lookup

In [6]:
# Select GOOG Close for May 2019
google_may_2019_data = goog_df_grp.loc[2019, 5]
google_may_2019_data

Close    1132.03
Name: (2019, 5), dtype: float64

### Calculate `mean` Close Price of GOOG for 2019

In [7]:
goog_mean_may_2019 = goog_df_grp.loc[2019].mean()
goog_mean_may_2019

Close    1153.435
dtype: float64